.location {
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    max-width:400px;
    
}

.location_img {
    display: flex;
}

.location h3 {
    margin: 15px 0px 0px 10px ;
}

.location h4 {
    margin: 5px 0;
}

.mobile_only {
    display: block;
}
.desktop_only {
    display: none;
}
@media(min-width:768px){
    .mobile_only {
        display: none;
    }
    .desktop_only {
        display: block;
    }
    
}