.App {
  text-align: center;
  /* background-color: rgb(50, 28, 28); */
  color: white;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  font-size: 30px;
  margin: 5px;
  padding: 5px;
}
.number{
  color: red;
  font-size: 100px;
  margin: 10%;
}