.App {
  text-align: center;
}
.text_filled{
  margin: 20px;
  margin-left: 30%;
  /* display: flex; */
}
.Form_inline{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 100%;
  gap: 20%;
  justify-content: space-between;
}

.data_val{
  box-shadow:
  inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px white,
  0.3em 0.3em 1em rgb(200 0 0 / 60%);
  border-radius: 50px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}